<section>
    <div>
        <h3>Tenis Nike Air Jordan</h3>
        <p>Tenis de corrida para uso casual</p>
        <span>R$ 899,99</span>
        <div>
            <button>Adicionar no carrinho</button>
        </div>
    </div>
    <div>
        <h3>Tenis Nike Air Jordan</h3>
        <p>Tenis de corrida para uso casual</p>
        <span>R$ 899,99</span>
        <div>
            <button>Adicionar no carrinho</button>
        </div>
    </div>
    <div>
        <h3>Tenis Nike Air Jordan</h3>
        <p>Tenis de corrida para uso casual</p>
        <span>R$ 899,99</span>
        <div>
            <button>Adicionar no carrinho</button>
        </div>
    </div>
</section>